body{
    background: #242B33;
    color: #fff;
    margin: 0;
}
li{
    cursor: pointer;
    font-family: 'Raleway';
    list-style: none;
    margin-left: 32px;
    margin-top: 15px
    
}
li:hover {
    color: #d4c17f;
    transition: 0.3s;
}

img {
    max-width: 100%;
    
}
ul{
    width: 100%;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
span{
    color: #d4c17f;
}
a{
    color: #fff;
    text-decoration: none;
    margin: 0;
}